[Unit]
Description=Reclaim disk from unused Docker images, containers and cache
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/docker-prune
